.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.tictacDiv {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  /* height: 60vmin; */
  height: 80vh;
  min-height: 90vmin;
  background-color: #09d3ac;
}

/* Icons CSS*/
.iconsDiv {
  background-color: #09d3ac;
}
.icons {
  height: 15vmin;
  transition: transform 0.6s;
  margin: 10px;
}
#idApple,
#idStraw,
#idFood {
  animation: logo-spin-left infinite 20s linear;
}

@keyframes logo-spin-left {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#idBanana,
#idBlender {
  animation: logo-spin-right infinite 20s linear;
}

@keyframes logo-spin-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#idApple:hover {
  animation: change-back infinite 0.7s;
}
#idBanana:hover {
  animation: change-back infinite 0.7s;
}
#idStraw:hover {
  animation: change-back infinite 0.7s;
}
#idFood:hover {
  animation: change-back infinite 0.7s;
}

@keyframes change-back {
  0% {
    background-color: #282c34;
  }
  100% {
    background-color: white;
  }
}

#idBlender:hover {
  animation: logo-spin-fast infinite 0.4s linear;
}

@keyframes logo-spin-fast {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*-------------------------------------------*/
/* Tic tac toe css */
.gameDiv {
  margin: auto;
  width: 90%;
  height: 80%;
  border: 3px solid green;
  padding: 10px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
/*------------------------------------*/
