.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.tictacDiv {
  font: 14px "Century Gothic", Futura, sans-serif;
  width: 100%;
  /* min-height: 100vh; */
  height: 100vh;
  /* min-height: 90vmin; */
  background-color: #282c34;
}

h4 {
  color: white;
}
/* Icons CSS*/
.iconsDiv {
  /* display: flex;
  flex-direction: column; */
  /* background-color: #09d3ac; */
  background-color: #88bdbc;
  border: 5px solid #282c34;
  /* box-shadow: 0 2px 6px #000; */
}
.icons {
  height: 10vmin;
  transition: transform 0.6s;
  margin: 20px;
}

#idLink,
#idBanana {
  height: 9vmin;
}

#idApple,
#idStraw,
#idFood,
#idLink,
#idSettings {
  animation: logo-spin-left infinite 20s linear;
}

/* #idBanana {
  height: 14vmin;
} */

@keyframes logo-spin-left {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#idBanana,
#idBlender,
#idStack {
  animation: logo-spin-right infinite 20s linear;
}

@keyframes logo-spin-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#idApple:hover {
  animation: change-back infinite 0.7s;
}

#idStraw:hover {
  animation: change-back infinite 0.7s;
}
#idFood:hover {
  animation: change-back infinite 0.7s;
}
#idLink:hover {
  animation: change-back infinite 0.7s;
}
#idSettings:hover {
  animation: change-back infinite 0.7s;
}

@keyframes change-back {
  0% {
    background-color: #282c34;
  }
  100% {
    background-color: white;
  }
}

#idBanana:hover {
  animation: logo-spin-fast infinite 0.4s linear;
}
#idBlender:hover {
  animation: logo-spin-fast infinite 0.4s linear;
}
#idStack:hover {
  animation: logo-spin-fast infinite 0.4s linear;
}

@keyframes logo-spin-fast {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*-------------------------------------------*/
/* Tic tac toe css */
.gameDiv {
  margin: 10px auto;
  width: 90%;
  height: 100%;
  background-color: #88bdbc;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.game-info {
  margin-left: 20px;
}
/*------------------------------------*/
